extends layouts/main

block content
  .form-container
    form(action=`/videos/${routes.upload}`, method="post")
      lable(for="file") Video file
      input(type="file", id="file", name="file")
      input(type="text", placeholder="Title", name="title")
      textarea(name="description", placeholder="Description")
      input(type="submit", value="Upload Video")